.color-picker .wrapper {
    background-color: var(--surface) !important;
}

.color-picker input {
    color: var(--on-secondary) !important;
    background-color: var(--on-background) !important;
}

main {
    max-height: none !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    padding-bottom: 15em !important;
}

menu {
    overflow-x: scroll !important;
    max-height: 200px;
}

.drop-target {
    outline: solid 2px var(--primary) !important;
}

.logo img {
    width: 35px;
}

.link-button {
    color: var(--primary) !important;
    background-color: transparent;
    padding: 0 .3em;
}

.link-button:hover {
    background-color: transparent !important;
    transition: none !important;
}

.extra-large-width {
    width: 45rem !important;
}

.center-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey-title {
    border-top: 1em solid var(--primary);
}

.survey-response {
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {
    .logo {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {
    .extra-large-width {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .logo img {
        margin-left: 1em;
        margin-top: 1em;
    }
}